/* header */
#menu-main-menu{
    height: 50px;
    position: relative;
    left: -50px;
    padding: 0 20px;
}
#menu-main-menu:hover{
    color:#000;
}
#menu-main-menu:hover #top-menu{
    background-color: #fff;
    width: 2000;
}
#menu-main-menu:hover a{
    color:#000;
}
#menu-main-menu  > li > .sub-menu{
    display: none;
    top: 70px;
    border-top: 1px solid #ddd;
    transition: all 0.1s ease-in-out;
}

#menu-main-menu > li > a:hover{
    color: #000;
}
#menu-main-menu > li > a{
    filter: brightness(0.3);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}
#menu-main-menu  > li > .sub-menu >li > a{
    padding: 25px 0 0px !important;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#menu-main-menu  > li > .sub-menu >li > .sub-menu > li > a{
    clear: both;
    font-weight: 300;
    white-space: normal;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 0px;
    padding-top: 5px;
}
#menu-main-menu  > li > .sub-menu >li > .sub-menu > li > a:hover{
    color: #978d8d;
}
#menu-main-menu  > li > .sub-menu:nth-child(1){
    display: block;
}
#menu-main-menu  > li {
    margin : 25px 20px;
    cursor: default;
}
#menu-main-menu > li:nth-child(1) > .sub-menu:nth-child(2) {
    visibility: hidden;
    left: 0 ;
    right: 0;
    position: absolute;
    display: flex;
    background-color: #fcfcfc;
    width: 2000px;
    
}
#menu-main-menu > li:nth-child(1):hover > .sub-menu:nth-child(2){
    visibility: visible;
}
#menu-main-menu > li:nth-child(1) > .sub-menu:nth-child(2)> li{
    line-height: 2;
    padding: 40px 0 40px 70px;
    
}
#menu-main-menu > li:nth-child(2) > .sub-menu:nth-child(2) {
    visibility: hidden;
    left: 0 ;
    right: 0;
    position: absolute;
    display: flex;
    background-color: #fcfcfc;
    width: 2000px;
    
}
#menu-main-menu > li:nth-child(2) > .sub-menu:nth-child(2)> li{
    line-height: 2;
    padding: 40px 0 40px 70px;
   
}
#menu-main-menu > li:nth-child(2):hover > .sub-menu:nth-child(2){
    visibility: visible;
}
#menu-main-menu > li:nth-child(2) > .sub-menu:nth-child(2) > li:nth-child(1)> a{
    color: #d33200!important;
}
#menu-main-menu > li:nth-child(2) > .sub-menu:nth-child(2) > li:nth-child(1)>.sub-menu> li > a {
    color: #d33200!important;
}
#menu-main-menu > li:nth-child(3) > .sub-menu:nth-child(2) {
    visibility: hidden;
    left: 0 ;
    right: 0;
    position: absolute;
    display: flex;
    background-color: #fcfcfc;
    width: 2000px;
}
#menu-main-menu > li:nth-child(3) > .sub-menu:nth-child(2)> li{
    line-height: 2;
    padding: 40px 0 40px 70px;
   
}
#menu-main-menu > li:nth-child(3):hover > .sub-menu:nth-child(2){
    visibility: visible;
}
/* menu-tin-tuc */
#menu-menu-tin-tuc{
    margin-left: 40px;
    display: block;
    list-style: none;
}
#menu-menu-tin-tuc > li{
    line-height:2;
}
#menu-menu-tin-tuc > li > a {
    font-size: 20px;
    padding-left: 10px;
    -webkit-transition: opacity 275ms ease;
    transition: opacity 275ms ease;
    color: #000;
    font-weight: 100;
    margin-bottom: 5px!important;
}
#menu-menu-tin-tuc > li > a:hover{
        /* color: #b99d6b; */
        color: none;
        /* padding-left: 25px; */
        -webkit-transition: opacity 275ms ease;
        transition: opacity 275ms ease;
        text-decoration: underline;
        opacity: .7;
        font-weight: bold;
}
/* menu san pham */
#menu-menu-san-pham{
    margin-top: 50px;
    margin-left: 20px;
    display: block;
}
#menu-menu-san-pham > li > a:hover{
    opacity: .5;
}
#menu-menu-san-pham > li:nth-child(3) > a,
#menu-menu-san-pham > li:nth-child(3) > ul > li > a{
    color: #d33200!important;
}
#menu-menu-san-pham li  a{
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 0;
    padding: 10px 0;
    text-transform: uppercase;
}
#menu-menu-san-pham  .sub-menu  li   a {
    font-family: 'roboto-light';
    /* font-weight: 500; */
    font-size: 16px;
    padding: 5px 0;
    text-transform: capitalize;
}
#menu-menu-san-pham .sub-menu li{
    margin: 5px 30px;
}
#menu-menu-san-pham .sub-menu li:hover{
    list-style: circle;
    color: #000;
    list-style-type: disc;
    font-size: 20px;
}
#menu-menu-san-pham .sub-menu li a:hover{
    opacity: .5;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
#menu-menu-san-pham .sub-menu {
  display: none;
  min-width: 160px;
  z-index: 1;
}
#menu-menu-san-pham  .show{
    display: block;
}
#menu-menu-san-pham > li > a > i {
    margin:  0 10px 0 0;
}
/* The Content */
.wp-pagenavi{
    text-align: center;
}
.wp-pagenavi a, .wp-pagenavi span{
    border: none;
    margin: 10px;
}
.wp-pagenavi span{
    cursor: default;
}
.wp-pagenavi a{
    padding: 7px 12px;
    cursor: pointer;
}
.wp-pagenavi a:hover{
    background-color: #222;
    color: #fff;
}
.wp-pagenavi span.current {
    color: #FF4242;
}
.form-input{
    display: block;
    width: 570px !important;
    height: 38px;
    padding: 10px 20px;
    /* font-size: 2px; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-textarea {
    height: 160px;
    display: block;
    width: 570px;
    padding: 10px 20px;
    /* font-size: 2px; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group .wpcf7-not-valid-tip{
    margin: 10px 0;
}
.form-group .label {
    font-weight: 400;
    margin-bottom: 15px;
}
.form-group br {
    display: none;
}
.btn:not(:disabled):not(.disabled){
    float: left;
}
.btn-reset{
    position: absolute;
    top: 0;
}
.btn-submit{
    margin-top:15px;
}
.recruitment{
    text-align:left !important;
}
.recruitment ul.album-filter {
    display: inline-block;
    list-style-type: none;
    border-bottom: 1px solid #313132;
    margin-top: 50px;
    margin-bottom: 40px;
  }
.recruitment ul.album-filter li {
    float: left;
    padding: 7px 25px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
  }
.page-template-template-recruitment .product-name a {
    font-size: 14px;
    font-style: unset;
    font-weight: 400;
}
.single > .detail > p >  strong {
    text-align: -webkit-center;
}
/* Modal */

#employment-player {
    z-index: 100000;
    background: rgba(0,0,0,0.8);
}
.v--modal-overlay {
    visibility: hidden;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 1;
}
i#close{
      
        position: relative;
        top: -490px;
        left: 755px;
}
#modal-recruitment > .show {
    visibility: visible;
}
.v--modal-overlay .v--modal-background-click {
    width: 100%;
    height: 100%;
}
.v--modal-top-right {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.v--modal-overlay .v--modal-box {
    top: 200px;
    left: 560px;
    width: 800px;
    height: 454px;
    position: relative;
    overflow: overlay;
    box-sizing: border-box;
}
.v--modal {
    background-color: white;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
    padding: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.home .modal-body {
    width: 500px;
}
.modal-body {
    height: 100%;
    overflow: auto;
    padding-bottom: 70px;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
#employment-player i.video-player-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 26px;
    color: gray;
    cursor: pointer;
}

/* footer */
.menu-menu-footer-container {
    padding: 25px 0px;
}
#menu-menu-footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: start;
    text-align: start;
}
#menu-menu-footer > li {
    line-height:2.5;
}
#menu-menu-footer > li > a {
    font-weight: 400;
    cursor: default;
    font-size: 14px;
    color: #313132;
}
#menu-menu-footer li > .sub-menu > li > a {
    color: #000;
    font-size: 14px;
    font-weight: 300;
}
#menu-menu-footer li > .sub-menu > li > a:hover{
   color: #978d8d;
}
